
*.iml

src/codename/gradlew

*.iml

*.iml

src/codename/codename.iml

src/codename/codename.ipr

src/.idea/workspace.xml

src/.idea/vcs.xml

src/.idea/scopes/scope_settings.xml

src/.idea/misc.xml

src/.idea/libraries/gradle_wrapper.xml

src/.idea/modules.xml

src/.idea/encodings.xml

src/.idea/copyright/profiles_settings.xml

src/.idea/compiler.xml

src/.idea/.name

src/codename/gradlew

src/codename/desktop/desktop.iml

src/codename/core/core.iml

src/codename/core/core.iml

src/codename/android/android.iml

src/codename/android/android.iml
