/res
.gitignore
src/codename/core/core.iml
src/codename/desktop/desktop.iml
src/codename/libgdx-gradle-template.ipr
docs/Är det ett problem att man inte kan utvärdera gameplay utan att lägga stora resurser på nätverksimplementation.docx
docs/Är det ett problem.docx
docs/mall/DVMall_Examensarbete C-nivå.doc
docs/pdf källor/A Distributed Architecture for Online Multiplayer Games.pdf
docs/pdf källor/A Distributed Multiplayer Game Server System.pdf
docs/pdf källor/A Game Scalability Model for Multiplayer Real-time Games .pdf
docs/pdf källor/A Grid-enabled Multi-server Network Game Architecture.pdf
docs/pdf källor/A Measurement Study on Cloud to End-User Latency.pdf
docs/pdf källor/A Model to Support the Design of Multiplayer Games.pdf
docs/pdf källor/A Multiplayer Real-Time Game Protocol Architecture for Reducing Network Latency .pdf
docs/pdf källor/A Pattern for Distributing Turn-Based Games.pdf
docs/pdf källor/A Review on Networking and Multiplayer Computer Games.pdf
docs/pdf källor/A Scalable Architecture for Supporting Interactive Games on the Internet.pdf
docs/pdf källor/A Survey of Issues and Techniques for Supporting Networked Games.pdf
docs/pdf källor/A Taxonomy for Networked Virtual Environments.pdf
docs/pdf källor/A model and software architecture for MMORPG traffic generation based on player behavior.pdf
docs/pdf källor/An Efficient Partitioning Algortihm for Distributed Virtual Environment Systems.pdf
docs/pdf källor/An Implementation of a First-Person Game on a Hybrid Network.pdf
docs/pdf källor/Aspects of Networking in Multiplayer Computer.pdf
docs/pdf källor/Behavior and Performance of Interactive Multi-player Game Servers.pdf
docs/pdf källor/Distributed Computing Meets Game Theory Combining Insights From Two Fields.pdf
docs/pdf källor/Efficient Client-to-Server Assignments for Distributed Virtual Environments.pdf
docs/pdf källor/Experiences from Implementing a Mobile Multiplayer Real-Time Game for Wireless Networks with High Latency.pdf
docs/pdf källor/How to Keep a Dead Man from Shooting.pdf
docs/pdf källor/Network Infrastructure for Massively Distributed Games.pdf
docs/pdf källor/Network modeling and simulation of massively multiplayer online games.pdf
docs/pdf källor/Peer-to-Peer Architectures for Massively Multiplayer Online Games.pdf
docs/pdf källor/Server-Side Verification of Client Behavior in Online Games.pdf
docs/pdf källor/Service Oriented Paradigm for Massive Multiplayer Online Games .pdf
docs/pdf källor/Source Models of Network Game Traffic.pdf
